/* .field-editor fieldset .form-group {
  display: table-cell;
  padding-right: 5px;
}

.field-editor .field-integer {
  width: 100px;
} */

/* 
div.panel {
  width: 33%;
} */

tr a.edit small {
  display: none;
}

tr:hover a.edit small {
  display: inline-block;
}

/* .field-editor {
  text-align: left;
  display: inline-block;
  position: absolute;
  right: 5px;
} */

/* 
.form-group.field.field-boolean {
  width: 50%;
  display: inline-block;
}

.form-group.field.field-integer {
  width: 50%;
  display: inline-block;
} */